### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [43]:
# Total Players: 576
total_players = len(purchase_data['SN'].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
# Number of Unique Items
unique_items = len(purchase_data['Item ID'].unique())

# Average Purchase Price
avg_price = purchase_data['Price'].mean()

# Total Number of Purchases
purchase_ct = purchase_data['Purchase ID'].count()

# Total Revenue
total_revenue = purchase_data['Price'].sum()

purchase_summary = pd.DataFrame({'Number of Unique Items':[unique_items],
                                 'Average Price':[avg_price],
                                 'Total Number of Purchases':[purchase_ct],
                                 'Total Revenue':[total_revenue]})
purchase_summary.round(2)

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
# Drop duplicate players
unique_players = purchase_data.drop_duplicates("SN")

# Unique number of male, female, and other players
unique_gender = unique_players['Gender'].value_counts()

# Percentage of each gender
male_pct = (unique_gender['Male']/total_players) * 100
female_pct = (unique_gender['Female']/total_players) * 100
other_pct = (unique_gender['Other / Non-Disclosed']/total_players) * 100
player_pct = [male_pct, female_pct, other_pct]

# Format percentages
player_pct_round = ['%.2f' % item for item in player_pct]
player_pct_round

# Create data frame with gender demographics
gender_demo = pd.DataFrame(unique_gender)
gender_demo['Percentage of Players'] = player_pct_round
gender_demo

                       Gender Percentage of Players
Male                      484                 84.03
Female                     81                 14.06
Other / Non-Disclosed      11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# Purchase count for each gender
purchase_ct = purchase_data['Gender'].value_counts()

# Set new index to Gender
purchase_data_gender_index = purchase_data.set_index('Gender')

# Locate prices based on gender
male_price = purchase_data_gender_index.loc['Male', 'Price']
fem_price = purchase_data_gender_index.loc['Female', 'Price']
other_price = purchase_data_gender_index.loc['Other / Non-Disclosed', 'Price']

# Average purchase price
avg_male_price = male_price.mean()
avg_fem_price = fem_price.mean()
avg_other_price = other_price.mean()
avg_purchase_price = [avg_male_price, avg_fem_price, avg_other_price]

# Total purchase value
total_purchase_male = male_price.sum()
total_purchase_fem = fem_price.sum()
total_purchase_other = other_price.sum()
total_purchase_value = [total_purchase_male, total_purchase_fem, total_purchase_other]

# Average Total Purchase per Person
avg_total_male = total_purchase_value[0]/unique_gender['Male']
avg_total_fem = total_purchase_value[1]/unique_gender['Female']
avg_total_other = total_purchase_value[2]/unique_gender['Other / Non-Disclosed']
avg_total_pp = [avg_total_male, avg_total_fem, avg_total_other]

# Create data frame
purchase_analysis_gender_df = pd.DataFrame({'Purchase Count': purchase_ct, 
                                            'Average Purchase Price': avg_purchase_price, 
                                            'Total Purchase Value': total_purchase_value, 
                                            'Average Total Purchase per Person': avg_total_pp})

# Format data frame with mapping
purchase_analysis_gender_df['Average Purchase Price'] = purchase_analysis_gender_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_gender_df['Total Purchase Value'] = purchase_analysis_gender_df['Total Purchase Value'].map("${:.2f}".format)
purchase_analysis_gender_df['Average Total Purchase per Person'] = purchase_analysis_gender_df['Average Total Purchase per Person'].map("${:.2f}".format)

purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Male,652,\$3.02,\$1967.64,\$4.07
Female,113,\$3.20,\$361.94,\$4.47
Other / Non-Disclosed,15,\$3.35,\$50.19,\$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
unique_players_df = pd.DataFrame(unique_players)

# Place players into age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
unique_players_df['Age Group'] = pd.cut(unique_players['Age'], age_bins, labels=age_labels)

# Group players by age groups 
age_groups = unique_players_df.groupby('Age Group')

# Find total count and percentage
age_groups['Age'].count()
age_pct = round(age_groups['Age'].count()/total_players * 100, 2)

# Place in data frame
age_demo_df = pd.DataFrame({'Total Count':age_groups['Age'].count(), 'Percentage of Players':age_pct})
age_demo_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# Group by age bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels=age_labels)
purchase_groups = purchase_data.groupby('Age Group')

#Find purchase count, average purchase price, total purchase value, and average total purchase per person
purchase_groups['Price'].count()
purchase_groups['Price'].mean()
purchase_groups['Price'].sum()
avg_total_pp_age = purchase_groups['Price'].sum()/age_groups['Age'].count()

# Store in data frame
purchase_analysis_age_df = pd.DataFrame({'Purchase Count': purchase_groups['Price'].count(), 
                                            'Average Purchase Price': purchase_groups['Price'].mean(), 
                                            'Total Purchase Value': purchase_groups['Price'].sum(), 
                                            'Average Total Purchase per Person': avg_total_pp_age})
# Format with mapping
purchase_analysis_age_df['Average Purchase Price'] = purchase_analysis_age_df['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_age_df['Total Purchase Value'] = purchase_analysis_age_df['Total Purchase Value'].map("${:.2f}".format)
purchase_analysis_age_df['Average Total Purchase per Person'] = purchase_analysis_age_df['Average Total Purchase per Person'].map("${:.2f}".format)

purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,\$3.35,\$77.13,\$4.54
10-14,28,\$2.96,\$82.78,\$3.76
15-19,136,\$3.04,\$412.89,\$3.86
20-24,365,\$3.05,\$1114.06,\$4.32
25-29,101,\$2.90,\$293.00,\$3.81
30-34,73,\$2.93,\$214.00,\$4.12
35-39,41,\$3.60,\$147.67,\$4.76
40+,13,\$2.94,\$38.24,\$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
# Group by screen names
top_spenders_group = purchase_data.groupby('SN')

# Find the purchase count, average purchase price, and total purchase value
top_ct = top_spenders_group['Price'].count() 
top_avg = top_spenders_group['Price'].mean() 
top_sum = top_spenders_group['Price'].sum() 

# Place in data frame
top_spenders_df = pd.DataFrame({'Purchase Count':top_ct,
                                'Average Purchase Price':top_avg,
                                'Total Purchase Value':top_sum})

# Sort by descending order and format
top_spenders_df = top_spenders_df.sort_values('Total Purchase Value',ascending=False)
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:.2f}".format)

top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [112]:
# Retrieve Item ID, Item Name, and Item Price columns
purchase_data_sm = purchase_data[['Item ID', 'Item Name', 'Price']]

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
753      178  Oathbreaker, Last Hope of the Breaking Storm   4.23
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
759       72                                 Winter's Bite   3.77
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
762      110                                    Suspension   1.44
763       85                                Malificent Bag   1.75
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
767       92                                  Final Critic   4.88
768       92                                  Final Critic   4.88
769      145                          Fiery Glass Crusader   4.58
770       12                                         Dawne   1.02
771       25                                     Hero Cane   4.35
772      136                  Ghastly Adamantite Protector   3.58
773       19                 Pursuit, Cudgel of Necromancy   1.02
774      101                                  Final Critic   4.19
775       60                                          Wolf   3.54
776      164                              Exiled Doomblade   1.63
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[780 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame