### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Total Players: 576
total_players = len(purchase_data['SN'].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
unique_items = len(purchase_data['Item ID'].unique())

# Average Purchase Price
avg_price = purchase_data['Price'].mean()

# Total Number of Purchases
purchase_ct = purchase_data['Purchase ID'].count()

# Total Revenue
total_revenue = purchase_data['Price'].sum()

purchase_summary = pd.DataFrame({'Number of Unique Items':[unique_items],
                                 'Average Price':[avg_price],
                                 'Total Number of Purchases':[purchase_ct],
                                 'Total Revenue':[total_revenue]})
purchase_summary.round(2)

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Drop duplicate players
unique_players = purchase_data.drop_duplicates("SN")

# Unique number of male, female, and other players
unique_gender = unique_players['Gender'].value_counts()

# Percentage of each gender
male_pct = (unique_gender['Male']/total_players) * 100
female_pct = (unique_gender['Female']/total_players) * 100
other_pct = (unique_gender['Other / Non-Disclosed']/total_players) * 100
player_pct = [male_pct, female_pct, other_pct]

# Format percentages
player_pct_round = ['%.2f' % item for item in player_pct]
player_pct_round

# Create data frame with gender demographics
gender_demo = pd.DataFrame(unique_gender)
gender_demo['Percentage of Players'] = player_pct_round
gender_demo

                       Gender Percentage of Players
Male                      484                 84.03
Female                     81                 14.06
Other / Non-Disclosed      11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase count for each gender
purchase_ct = purchase_data['Gender'].value_counts()

# Set new index to Gender
purchase_data_gender_index = purchase_data.set_index('Gender')

# Locate prices based on gender
male_price = purchase_data_gender_index.loc['Male', 'Price']
fem_price = purchase_data_gender_index.loc['Female', 'Price']
other_price = purchase_data_gender_index.loc['Other / Non-Disclosed', 'Price']

# Average purchase price
avg_male_price = male_price.mean()
avg_fem_price = fem_price.mean()
avg_other_price = other_price.mean()
avg_purchase_price = [avg_male_price, avg_fem_price, avg_other_price]

# Total purchase value
total_purchase_male = male_price.sum()
total_purchase_fem = fem_price.sum()
total_purchase_other = other_price.sum()
total_purchase_value = [total_purchase_male, total_purchase_fem, total_purchase_other]

# Average Total Purchase per Person
avg_total_male = total_purchase_value[0]/unique_gender['Male']
avg_total_fem = total_purchase_value[1]/unique_gender['Female']
avg_total_other = total_purchase_value[2]/unique_gender['Other / Non-Disclosed']
avg_total_pp = [avg_total_male, avg_total_fem, avg_total_other]

# Create data frame
purchase_analysis_gender_df = pd.DataFrame({'Purchase Count': purchase_ct, 
                                            'Average Purchase Price': avg_purchase_price, 
                                            'Total Purchase Value': total_purchase_value, 
                                            'Average Total Purchase per Person': avg_total_pp})

# Format data frame with mapping
purchase_analysis_gender_df['Average Purchase Price'] = purchase_analysis_gender_df['Average Purchase Price'].map("{:.2f}".format)
purchase_analysis_gender_df['Total Purchase Value'] = purchase_analysis_gender_df['Total Purchase Value'].map("{:.2f}".format)
purchase_analysis_gender_df['Average Total Purchase per Person'] = purchase_analysis_gender_df['Average Total Purchase per Person'].map("{:.2f}".format)

purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame