### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Total Players: 576
total_players = len(purchase_data['SN'].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
# Number of Unique Items
unique_items = len(purchase_data['Item ID'].unique())

# Average Purchase Price
avg_price = purchase_data['Price'].mean()

# Total Number of Purchases
purchase_ct = purchase_data['Purchase ID'].count()

# Total Revenue
total_revenue = purchase_data['Price'].sum()

purchase_summary = pd.DataFrame({'Number of Unique Items':[unique_items],
                                 'Average Price':[avg_price],
                                 'Total Number of Purchases':[purchase_ct],
                                 'Total Revenue':[total_revenue]})
purchase_summary.round(2)

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
unique_players = purchase_data.drop_duplicates("SN")

unique_gender = unique_players['Gender'].value_counts()
male_pct = (unique_gender['Male']/total_players) * 100
female_pct = (unique_gender['Female']/total_players) * 100
other_pct = (unique_gender['Other / Non-Disclosed']/total_players) * 100

player_pct = [male_pct, female_pct, other_pct]
player_pct_round = ['%.2f' % item for item in player_pct]
player_pct_round

gender_demo = pd.DataFrame(unique_gender)
gender_demo['Percentage of Players'] = player_pct_round
gender_demo

                       Gender Percentage of Players
Male                      484                 84.03
Female                     81                 14.06
Other / Non-Disclosed      11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
# male = unique_gender['Male']
# female = unique_gender['Female']
# other = unique_gender['Other / Non-Disclosed']

purchase_ct = purchase_data['Gender'].value_counts()
fem_avg = purchase_ct['Female'] # no. of purchases for females
# need prices for females only

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
5      3.61
6      2.18
7      2.67
8      1.10
9      3.58
10     4.74
11     2.67
12     4.18
13     1.70
14     4.86
15     2.89
16     2.52
17     1.76
18     4.90
19     4.64
20     4.60
21     1.48
22     3.81
23     3.40
24     3.19
25     4.23
26     1.61
27     3.09
28     4.32
29     3.16
       ...
750    3.61
751    3.36
752    2.60
753    4.23
754    4.05
755    3.15
756    2.05
757    4.60
758    4.03
759    3.77
760    2.38
761    1.70
762    1.44
763    1.75
764    4.07
765    2.07
766    4.14
767    4.88
768    4.88
769    4.58
770    1.02
771    4.35
772    3.58
773    1.02
774    4.19
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame